<a href="https://colab.research.google.com/github/ROMEROErnest/58010-DSAA/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#accessing the elements in the array

animals = ["cat", "dog", "fish"]

x = animals[2]

print (x)

fish

In [4]:
#accessing the elements in the array

int arr [2] = ["penguin", "iguana", "capybara"]

SyntaxError: ignored

In [5]:
#modifying the elements in the array

animals = ["cat", "dog", "fish"]

animals[0] = "monkey"

print (animals)

['monkey', 'dog', 'fish']

In [6]:
#length of an array

animals = ["cat", "dog", "fish"]

x = len(animals)

print (x)

3

In [11]:
#looping array elements
animals = ["cat", "dog", "fish"]

for x in animals:

  print (x)

cat
dog
fish

In [13]:
#adding elements in the aray

animals = ["cat", "dog", "fish"]

animals.append("monkey")

print (animals)

['cat', 'dog', 'fish', 'monkey']

In [14]:
#removing an element in the array

animals = ["cat", "dog", "fish"]

animals.pop(1)

print (animals)

['cat', 'fish']

In [15]:
#ADD/COUNT

animals = ["cat", "dog", "fish"]
animals.append("dragon")
print(animals)
x = len(animals)
print(x)

['cat', 'dog', 'fish', 'dragon']
4

In [23]:
animals = ["fish", "monkey", "cat", "dog"]

animals.sort()

print ("ascending order", animals)

ascending order ['cat', 'dog', 'fish', 'monkey']

In [22]:


animals.sort(reverse=True)

print ("descending order", animals)

descending order ['monkey', 'fish', 'dog', 'cat']